---
import NoneLayout from "../layouts/NoneLayout.astro"
import SearchAndInfiniteScroll from "../components/SearchAndInfiniteScroll.svelte"

const { pageTitle = "My Home" } = Astro.props
---

<NoneLayout pageTitle={pageTitle}>
  <div class="join">
    <h2>Awesome Resource</h2> &nbsp;- &nbsp;<h3>CAD Fonts</h3>
  </div>
  <SearchAndInfiniteScroll client:only="svelte" />
  <div class="flux center">
    <a class="logoBanner" href="https://evolution-host.com/">
      <img
        width="32"
        height="32"
        alt="Evolution Host Logo"
        src="https://evolution-host.com/images/branding/newLogoBlack.png"
        style="float: left;"
      />
      <p>
        <span class="sizer">Evolution Host</span><br />
        <span>Invent the Future</span>
      </p>
    </a>
  </div>
</NoneLayout>
