---
import NoneLayout from "../layouts/NoneLayout.astro"
import SearchAndInfiniteScroll from "../components/SearchAndInfiniteScroll.svelte"

const { pageTitle = "My Home" } = Astro.props
---

<NoneLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <SearchAndInfiniteScroll client:only="svelte" />
</NoneLayout>
